---
layout: default
---
{{ content }}

<div class="container">
{%- if site.posts.size > 0 -%}
<ul class="post-list list-unstyled">
  {%- for post in site.posts -%}
  <li class="post-list-item border-bottom hover-zoom">
      <a class="post-link" href="{{ post.url | relative_url }}">
        <div class="media">
          <div class="media-body">
            <h2 class="mt-0 mb-1">{{ post.title | escape }}
              {%- if post.category -%}
              &nbsp;&nbsp;<small><span class="badge badge-secondary">{{ post.category }}</span></small>
              {%- endif -%}
            </h2>
            {{ post.excerpt | strip_html }}
          </div>
          {%- if post.thumbnail.size > 0 -%}
          <img class="mr-3" src="{{ post.thumbnail }}" alt="Generic placeholder image">
          {%- endif -%}
        </div>
      </a>
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}
</div>