---
layout: default
---
{{ content }}
<div class="container home">
  {%- if site.posts.size > 0 -%}
  <!-- <h2>{{ page.list_title | default: "Posts" }}</h2> -->
  <ul class="list-unstyled">
    {%- for post in site.posts -%}
    <li class="media border-bottom hover-zoom">
      <a class="post-link" href="{{ post.url | relative_url }}">
        <div class="media-body">
          <h3 class="mt-0 mb-1">
            {{ post.title | escape }}
          </h3>
          {{ post.excerpt }}
        </div>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>


