---
layout: default
---
{{ content }}
<div class="container home">
  {%- if site.posts.size > 0 -%}
  <!-- <h2>{{ page.list_title | default: "Posts" }}</h2> -->
  <ul class="list-unstyled">
    {%- for post in site.posts -%}
    <li class="media border-bottom">
      <div class="media-body">
        <h3 class="mt-0 mb-1">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {{ post.excerpt }}
      </div>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>


